@page "/"
<div class="position-relative">

<h1 class="display-6 text-center ">
        <div class="position-absolute top-50 start-50 translate-middle">

    Welcome!
    <small class="text-muted">Purchase Order System</small>
        </div>
</h1>

</div>


