<div class="top-row ps-2 navbar navbar-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorPurchaseOrders</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tax">
                <i class="bi bi-percent" style="margin-right:10px;"></i>
                Tax Rates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="supplier">
                <SfIcon IconCss="oi oi-list" style="margin-right: 10px;">        </SfIcon>

                Suppliers
            </NavLink>  
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="oi oi-box" aria-hidden="true"></span>
                Products
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
